<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.in28minutes.com" class="navbar-brand">
            Chanikya </a></div>

        <ul class="navbar-nav">
            <li *ngIf='hardcodedAuthenticaion.isUserLoggedIn()'><a  routerLink="/welcome/Ravikanth" class="nav-link active">Home</a></li>
            <li *ngIf='hardcodedAuthenticaion.isUserLoggedIn()'><a  routerLink="/todos" class="nav-link active">Todos</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <li *ngIf='!hardcodedAuthenticaion.isUserLoggedIn()' ><a routerLink="/login" class="nav-link active">Login</a></li>
                <li *ngIf='hardcodedAuthenticaion.isUserLoggedIn()'><a routerLink ="/logout" class="nav-link active">Logout</a></li>
        </ul>
    </nav>
</header>