<div *ngIf='inValid' class="container-fluid alert alert-warning">
    
    <small >{{errorMessage}}</small>
</div>
<div class="container-fluid">
    
    Username: <input type="text" name="Username" [(ngModel)]="username">
    Password:<input type="password" name="password" [(ngModel)]="password">
    <!-- <button class="btn btn-success" (click)=handleLogin()>Login</button> -->
    <!-- <button class="btn btn-success" (click)=handleBasicAuthLogin()>Login</button> -->
    <button class="btn btn-success" (click)=handleJwtAuthLogin()>Login</button>
</div>